@import url(http://fonts.googleapis.com/css?family=Audiowide);

*{
}

a{
	text-decoration: none;
}

body{
	font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}


#page{
	width: 820px;
	height: 380px;
	margin: 0 auto;
}

#topBox{
	margin: 5px;
}

#pageBody{
	/*background-color: lightgray;*/
	/*padding: 10px;*/
}

#pageBody:after{
	content: "";
	clear: both;
	display:block;
}

#centerBox{
	float: left;
	width: 610px;
	margin: 0px;
	padding: 0px;
}

#viewerBox{
	float: left;
}

#container{
}

#menuBox{
	float: left;
	width: 205px;
}

/* topBoxの中身 */
#appP{
	margin: 0;
}

#appTitle{
	font-family: 'Audiowide', cursive;
	font-size: 40px;
	color: #404040;
	margin: 0;
}

#concept{
	margin-left: 10px;
}


/* centerBoxの中身 */
#viewerBox{
	padding: 0px;
	margin: 0px;
}


/* 自動生成されるwebglの要素のスタイル */
#webgl{
	border: ridge #404040;
	background-color: white;
	margin: 0px;
}


/* menuBoxの中身 */

.settingItemUpper{
	width: 199px;
	margin: 2px;
	padding: 0px;
	border: solid gray 1px;
}

.funcButton{
	margin: 2px;
	font-size: 1.2em;
	padding: 5px 20px;
	background-color: #404040;
	color: #fff;
	border-style: none;
	width: 200px;
}

.funcButton:hover {
	background-color: #808080;
	color: #fff;
}

#saveDiv{
	padding: 0px;
	margin: 0px;
}

#downloadLink{
	display:none;
	width: 160px;
	text-align: center;
}


#thicknessBox{
	text-align: right;
	width: 30px;
}


#detail {
	padding: 2px;
}

.settingCaption{
	font-size: 12px;
	margin: 0px;
}

.settingMemo{
	font-size: 8px;
	margin: 0px;
}

.settingItem{
	margin: 2px;
	padding: 5px;
	border: solid gray 1px;
}

